body {
    border: 2px solid blue;
    padding: 6px;
    margin: 30px;
    background-color:  orange;
}
.Body {
    border: 2px solid purple;
}
.sidebar {
    float: right;
    background-color: thistle;
    line-height: 100px;
}
.main {
    float:left;
    background-color: orchid;
}
img {
    width: 100px;
    height: auto;
}